

body {
  background: green;
  font-family: fantasy;
}

header {
  background:green
}

.jumbotron {
  background-color: gold;
  font-family: fantasy;
}

li {
background-color: blue;
}


img {
  height: 400px;
  float: center;
}
